body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    background: no-repeat linear-gradient(250deg, #ff934f, #db222a);
    max-width: 800px;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.quiz-container {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px white;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg, transparent, #ffffff);
    width: 100%;
    margin: 0 10px;
}

.title {
    color: #00000050;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}

.question {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.option {
    padding: 1rem;
    color: #00000095;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    transition: all 0.3s;
}

.option:hover {
    background: rgba(255, 255, 255, 0.4);
}

.option input:checked .option {
    background: #08038c;
    color: #000;
}

.controls > * {
    margin: 1rem;
}

button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
    z-index: 1;
}

button.previous {
    background: #c84630;
}

button.next {
    background: #3c91e6;
}

button.restart {
    background: #0cf574;
    color: #00000050;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: all 0.4s;
}

button.restart:hover {
    color: #00000098;
    cursor: pointer;
}

button:hover,
button:focus {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.result {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
}

.summary {
    font-size: 1rem;
    text-shadow: 1px 1px #ffffff50;
    color: #00000099;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.summary h1 {
    align-self: center;
    color: #00000099;
}
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    to {
        box-shadow: -47px -172.6666666667px #2bff00, -140px -368.6666666667px #ff4800, 197px 53.3333333333px #00fffb, -50px -332.6666666667px #00ff91, 178px -221.6666666667px #ff00b7, -205px 81.3333333333px #0084ff, -74px -288.6666666667px #ff00e6, -154px -122.6666666667px #fb00ff, -100px -192.6666666667px #1500ff, 248px 64.3333333333px #ff0088, -130px -74.6666666667px blue, 180px -61.6666666667px #c400ff, -120px 46.3333333333px #ff00a6, 245px -105.6666666667px #0dff00, 40px -190.6666666667px #0080ff, 240px -18.6666666667px #00ffa6, -129px -62.6666666667px deepskyblue, -167px 22.3333333333px #62ff00, 232px -224.6666666667px darkorange, 100px -218.6666666667px #0099ff, -116px -16.6666666667px #ff00ea, 4px -117.6666666667px #00ff2b, 135px -58.6666666667px #ffe100, -93px -338.6666666667px #0dff00, 197px -160.6666666667px #ffc400, -47px -220.6666666667px #00d5ff, -101px -53.6666666667px #006aff, 205px -120.6666666667px #4400ff, 6px -305.6666666667px #f700ff, -190px -277.6666666667px #ff006f, 26px -111.6666666667px #9100ff, 222px 3.3333333333px #2200ff, 193px -60.6666666667px #e6ff00, -91px -331.6666666667px #44ff00, 8px -396.6666666667px #0059ff, 119px -155.6666666667px #001aff, -48px -384.6666666667px #00ff59, 233px -87.6666666667px #00ff77, -221px 7.3333333333px #009dff, 33px -415.6666666667px #ff0009, 222px -339.6666666667px #000dff, -44px -112.6666666667px #ccff00, -138px 32.3333333333px #0088ff, 19px -97.6666666667px #f2ff00, -147px -4.6666666667px #001eff, -95px -33.6666666667px #ff1e00, 148px 19.3333333333px #ff001a, -144px 8.3333333333px #0040ff, 34px -138.6666666667px #eaff00, -233px -106.6666666667px #4d00ff, -166px -237.6666666667px #004dff;
    }
}
@-moz-keyframes bang {
    to {
        box-shadow: -47px -172.6666666667px #2bff00, -140px -368.6666666667px #ff4800, 197px 53.3333333333px #00fffb, -50px -332.6666666667px #00ff91, 178px -221.6666666667px #ff00b7, -205px 81.3333333333px #0084ff, -74px -288.6666666667px #ff00e6, -154px -122.6666666667px #fb00ff, -100px -192.6666666667px #1500ff, 248px 64.3333333333px #ff0088, -130px -74.6666666667px blue, 180px -61.6666666667px #c400ff, -120px 46.3333333333px #ff00a6, 245px -105.6666666667px #0dff00, 40px -190.6666666667px #0080ff, 240px -18.6666666667px #00ffa6, -129px -62.6666666667px deepskyblue, -167px 22.3333333333px #62ff00, 232px -224.6666666667px darkorange, 100px -218.6666666667px #0099ff, -116px -16.6666666667px #ff00ea, 4px -117.6666666667px #00ff2b, 135px -58.6666666667px #ffe100, -93px -338.6666666667px #0dff00, 197px -160.6666666667px #ffc400, -47px -220.6666666667px #00d5ff, -101px -53.6666666667px #006aff, 205px -120.6666666667px #4400ff, 6px -305.6666666667px #f700ff, -190px -277.6666666667px #ff006f, 26px -111.6666666667px #9100ff, 222px 3.3333333333px #2200ff, 193px -60.6666666667px #e6ff00, -91px -331.6666666667px #44ff00, 8px -396.6666666667px #0059ff, 119px -155.6666666667px #001aff, -48px -384.6666666667px #00ff59, 233px -87.6666666667px #00ff77, -221px 7.3333333333px #009dff, 33px -415.6666666667px #ff0009, 222px -339.6666666667px #000dff, -44px -112.6666666667px #ccff00, -138px 32.3333333333px #0088ff, 19px -97.6666666667px #f2ff00, -147px -4.6666666667px #001eff, -95px -33.6666666667px #ff1e00, 148px 19.3333333333px #ff001a, -144px 8.3333333333px #0040ff, 34px -138.6666666667px #eaff00, -233px -106.6666666667px #4d00ff, -166px -237.6666666667px #004dff;
    }
}
@-o-keyframes bang {
    to {
        box-shadow: -47px -172.6666666667px #2bff00, -140px -368.6666666667px #ff4800, 197px 53.3333333333px #00fffb, -50px -332.6666666667px #00ff91, 178px -221.6666666667px #ff00b7, -205px 81.3333333333px #0084ff, -74px -288.6666666667px #ff00e6, -154px -122.6666666667px #fb00ff, -100px -192.6666666667px #1500ff, 248px 64.3333333333px #ff0088, -130px -74.6666666667px blue, 180px -61.6666666667px #c400ff, -120px 46.3333333333px #ff00a6, 245px -105.6666666667px #0dff00, 40px -190.6666666667px #0080ff, 240px -18.6666666667px #00ffa6, -129px -62.6666666667px deepskyblue, -167px 22.3333333333px #62ff00, 232px -224.6666666667px darkorange, 100px -218.6666666667px #0099ff, -116px -16.6666666667px #ff00ea, 4px -117.6666666667px #00ff2b, 135px -58.6666666667px #ffe100, -93px -338.6666666667px #0dff00, 197px -160.6666666667px #ffc400, -47px -220.6666666667px #00d5ff, -101px -53.6666666667px #006aff, 205px -120.6666666667px #4400ff, 6px -305.6666666667px #f700ff, -190px -277.6666666667px #ff006f, 26px -111.6666666667px #9100ff, 222px 3.3333333333px #2200ff, 193px -60.6666666667px #e6ff00, -91px -331.6666666667px #44ff00, 8px -396.6666666667px #0059ff, 119px -155.6666666667px #001aff, -48px -384.6666666667px #00ff59, 233px -87.6666666667px #00ff77, -221px 7.3333333333px #009dff, 33px -415.6666666667px #ff0009, 222px -339.6666666667px #000dff, -44px -112.6666666667px #ccff00, -138px 32.3333333333px #0088ff, 19px -97.6666666667px #f2ff00, -147px -4.6666666667px #001eff, -95px -33.6666666667px #ff1e00, 148px 19.3333333333px #ff001a, -144px 8.3333333333px #0040ff, 34px -138.6666666667px #eaff00, -233px -106.6666666667px #4d00ff, -166px -237.6666666667px #004dff;
    }
}
@-ms-keyframes bang {
    to {
        box-shadow: -47px -172.6666666667px #2bff00, -140px -368.6666666667px #ff4800, 197px 53.3333333333px #00fffb, -50px -332.6666666667px #00ff91, 178px -221.6666666667px #ff00b7, -205px 81.3333333333px #0084ff, -74px -288.6666666667px #ff00e6, -154px -122.6666666667px #fb00ff, -100px -192.6666666667px #1500ff, 248px 64.3333333333px #ff0088, -130px -74.6666666667px blue, 180px -61.6666666667px #c400ff, -120px 46.3333333333px #ff00a6, 245px -105.6666666667px #0dff00, 40px -190.6666666667px #0080ff, 240px -18.6666666667px #00ffa6, -129px -62.6666666667px deepskyblue, -167px 22.3333333333px #62ff00, 232px -224.6666666667px darkorange, 100px -218.6666666667px #0099ff, -116px -16.6666666667px #ff00ea, 4px -117.6666666667px #00ff2b, 135px -58.6666666667px #ffe100, -93px -338.6666666667px #0dff00, 197px -160.6666666667px #ffc400, -47px -220.6666666667px #00d5ff, -101px -53.6666666667px #006aff, 205px -120.6666666667px #4400ff, 6px -305.6666666667px #f700ff, -190px -277.6666666667px #ff006f, 26px -111.6666666667px #9100ff, 222px 3.3333333333px #2200ff, 193px -60.6666666667px #e6ff00, -91px -331.6666666667px #44ff00, 8px -396.6666666667px #0059ff, 119px -155.6666666667px #001aff, -48px -384.6666666667px #00ff59, 233px -87.6666666667px #00ff77, -221px 7.3333333333px #009dff, 33px -415.6666666667px #ff0009, 222px -339.6666666667px #000dff, -44px -112.6666666667px #ccff00, -138px 32.3333333333px #0088ff, 19px -97.6666666667px #f2ff00, -147px -4.6666666667px #001eff, -95px -33.6666666667px #ff1e00, 148px 19.3333333333px #ff001a, -144px 8.3333333333px #0040ff, 34px -138.6666666667px #eaff00, -233px -106.6666666667px #4d00ff, -166px -237.6666666667px #004dff;
    }
}
@keyframes bang {
    to {
        box-shadow: -47px -172.6666666667px #2bff00, -140px -368.6666666667px #ff4800, 197px 53.3333333333px #00fffb, -50px -332.6666666667px #00ff91, 178px -221.6666666667px #ff00b7, -205px 81.3333333333px #0084ff, -74px -288.6666666667px #ff00e6, -154px -122.6666666667px #fb00ff, -100px -192.6666666667px #1500ff, 248px 64.3333333333px #ff0088, -130px -74.6666666667px blue, 180px -61.6666666667px #c400ff, -120px 46.3333333333px #ff00a6, 245px -105.6666666667px #0dff00, 40px -190.6666666667px #0080ff, 240px -18.6666666667px #00ffa6, -129px -62.6666666667px deepskyblue, -167px 22.3333333333px #62ff00, 232px -224.6666666667px darkorange, 100px -218.6666666667px #0099ff, -116px -16.6666666667px #ff00ea, 4px -117.6666666667px #00ff2b, 135px -58.6666666667px #ffe100, -93px -338.6666666667px #0dff00, 197px -160.6666666667px #ffc400, -47px -220.6666666667px #00d5ff, -101px -53.6666666667px #006aff, 205px -120.6666666667px #4400ff, 6px -305.6666666667px #f700ff, -190px -277.6666666667px #ff006f, 26px -111.6666666667px #9100ff, 222px 3.3333333333px #2200ff, 193px -60.6666666667px #e6ff00, -91px -331.6666666667px #44ff00, 8px -396.6666666667px #0059ff, 119px -155.6666666667px #001aff, -48px -384.6666666667px #00ff59, 233px -87.6666666667px #00ff77, -221px 7.3333333333px #009dff, 33px -415.6666666667px #ff0009, 222px -339.6666666667px #000dff, -44px -112.6666666667px #ccff00, -138px 32.3333333333px #0088ff, 19px -97.6666666667px #f2ff00, -147px -4.6666666667px #001eff, -95px -33.6666666667px #ff1e00, 148px 19.3333333333px #ff001a, -144px 8.3333333333px #0040ff, 34px -138.6666666667px #eaff00, -233px -106.6666666667px #4d00ff, -166px -237.6666666667px #004dff;
    }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}


.shake:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#parent {
    height: 100vh;
    width: 100vh;
}

#parent > img{
    width: 40px;
    height: 40px;
}
